body {
  overflow: hidden;
}
#initpreloader {
  position: fixed;
  top:0; left:0;
  right:0; bottom:0;
  background: #00000091;
  z-index: 1000;
}
#initloader {
  width: 120px;
  height: 120px;
  position: absolute;
  left:50%; top:50%;
  background: url(../images/gears.svg) no-repeat center 0;
  margin:-50px 0 0 -50px;
}
#initloader:before {
  content: " GOBIERNO DE MEXICO ";
  display: inline-block;
  color: #550000;
  /*background-color: #00000091;*/


  position: relative;
  font-size: 2em;
  top: 120px;
  width: 270px;
  left: -70px;;
  text-align: center;
}

#gif{
   width: 200px;
  height: 210px;
  position: absolute;
  left:50%; top:50%;

}
